* {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

body {
    background-color: 	#e0f3f9;
}

a {
    text-decoration: none;
    border-bottom: 4px dotted 	#fdb483;
}

a:hover {
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #c9f0b7;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(100, 100, 100);
}

nav a {
    color: 	white;
    text-shadow: 1px 1px 2px black;
}

nav a:hover {
    color: 	#f9f9c5;
}

.row {
    display: flex;
    align-items: center;
}

.column, #form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: 	#c9f0b7;
    margin: 5px;
}

button:hover {
    background-color: #78ca57;
}

input {
    margin: 10px;
}

h2, h3, h4, img, ul{
    margin: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formBox {
    background-color: #f9f9c5;
    padding: 30px;
    text-align: center;
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(100, 100, 100);
    border: 2px solid gray;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

img {
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px  rgb(100, 100, 100);
}

.campusPic {
    width: 300px;
}

.dogPic {
    width: 200px;
}

span {
    background-color: #f9f9c5;
    color: rgb(160, 12, 12);
    padding: 13px;
}

#home, #notFound {
    text-align: center;
    margin: 100px;
}

#notFound h1 {
    color: rgb(160, 12, 12);
    margin: 10px;
}

.sortBar {
    margin: 20px;
    background-color:#fdb483;
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(100, 100, 100);
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
}